Repository BinaryStudioAcademy/thread-js: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
client/src/**/*.{js,jsx}: npm run lint:client:js
client/src/**/*.scss: npm run lint:client:css
server/**/*.js: npm run lint:server:js

backend-framework: migrate to fastify
  server/package-lock.json
  server/package.json
  server/src/api/api.js
  server/src/api/auth/auth.api.js
  server/src/api/comment/comment.api.js
  server/src/api/image/image.api.js
  server/src/api/post/post.api.js
  server/src/common/constants/api.constants.js
  server/src/common/enums/api/api.js
  server/src/common/enums/api/controller-hook.enum.js
  server/src/common/enums/enums.js
  server/src/common/enums/exception/exception-message.enum.js
  server/src/common/enums/exception/exception-name.enum.js
  server/src/common/enums/exception/exception.js
  server/src/common/enums/http/http-code.enum.js
  server/src/common/enums/http/http.js
  server/src/config/passport.js
  server/src/exceptions/exceptions.js
  server/src/exceptions/invalid-credentials-error/invalid-credentials-error.exception.js
  server/src/helpers/http/get-status-code.helper.js
  server/src/helpers/token/token.js
  server/src/helpers/token/verify-token/verify-token.helper.js
  server/src/middlewares/authentication/authentication.middleware.js
  server/src/middlewares/authorization/authorization.middleware.js
  server/src/middlewares/error-handler/error-handler.middleware.js
  server/src/middlewares/image/image.middleware.js
  server/src/middlewares/jwt/jwt.middleware.js
  server/src/middlewares/middlewares.js
  server/src/middlewares/registration/registration.middleware.js
  server/src/middlewares/socket-injector/socket-injector.middleware.js
  server/src/plugins/authorization/authorization.plugin.js
  server/src/plugins/plugins.js
  server/src/plugins/socket-injector/socket-injector.plugin.js
  server/src/server.js
  server/src/services/auth/auth.service.js
Due: npm run lint:editorconfig, npm run lint:server:js

backend-framework: * readme
  README.md
Due: npm run lint:editorconfig

THREAD: + knex, migrations and seeds
  server/.env.example
  server/knexfile.js
  server/package-lock.json
  server/package.json
  server/src/common/enums/app/env.enum.js
  server/src/data/db/connection.js
  server/src/data/migrations/20190403072702-create-tables.js
  server/src/data/migrations/20190404072433-add-associations.js
  server/src/data/migrations/20211208202419_create-tables.js
  server/src/data/migrations/20211208204457_add-associations.js
  server/src/data/models/base/base.model.js
  server/src/data/models/comment/comment.model.js
  server/src/data/models/comment/comment_1.model.js
  server/src/data/models/image/image.model.js
  server/src/data/models/image/image_1.model.js
  server/src/data/models/index.js
  server/src/data/models/post-reaction/post-reaction.model.js
  server/src/data/models/post-reaction/post-reaction_1.model.js
  server/src/data/models/post/post.model.js
  server/src/data/models/post/post_1.model.js
  server/src/data/models/user/user.model.js
  server/src/data/models/user/user_1.model.js
  server/src/data/repositories/abstract/abstract.repository.js
  server/src/data/repositories/comment/comment.repository.js
  server/src/data/repositories/post-reaction/post-reaction.repository.js
  server/src/data/repositories/post/post.repository.js
  server/src/data/repositories/repositories.js
  server/src/data/repositories/user/user.repository.js
  server/src/data/seed-data/commentsSeed.js
  server/src/data/seed-data/postsSeed.js
  server/src/data/seed-data/usersSeed.js
  server/src/data/seeds/fill_db.js
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:server:js

THREAD: * adapt existing app to knex
  client/package-lock.json
  client/src/store/thread/actions.js
  package-lock.json
  server/.eslintrc.yml
  server/.sequelizerc
  server/package-lock.json
  server/package.json
  server/src/common/enums/database/database.js
  server/src/common/enums/database/db-table-name.enum.js
  server/src/common/enums/enums.js
  server/src/config/config.js
  server/src/config/db.js
  server/src/data/db/associations.js
  server/src/data/db/connection.js
  server/src/data/models/base/base.model.js
  server/src/data/models/comment/comment.model.js
  server/src/data/models/comment/comment_1.model.js
  server/src/data/models/image/image.model.js
  server/src/data/models/image/image_1.model.js
  server/src/data/models/index.js
  server/src/data/models/post-reaction/post-reaction.model.js
  server/src/data/models/post-reaction/post-reaction_1.model.js
  server/src/data/models/post/post.model.js
  server/src/data/models/post/post_1.model.js
  server/src/data/models/user/user.model.js
  server/src/data/models/user/user_1.model.js
  server/src/data/repositories/abstract/abstract.repository.js
  server/src/data/repositories/comment/comment.repository.js
  server/src/data/repositories/post-reaction/post-reaction.repository.js
  server/src/data/repositories/post/helpers.js
  server/src/data/repositories/post/post.repository.js
  server/src/data/repositories/repositories.js
  server/src/data/repositories/user/user.repository.js
  server/src/data/seed-data/commentsSeed.js
  server/src/data/seed-data/postsSeed.js
  server/src/data/seed-data/usersSeed.js
  server/src/data/seeders/20190405122106-fill-db.js
  server/src/server.js
  server/src/services/image/image.service.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:server:js

THREAD: * update readme with knex description
  README.md
Due: npm run lint:editorconfig

THREAD: * move data seeding to migration
  README.md
  server/.eslintrc.yml
  server/knexfile.js
  server/package.json
  server/src/data/migrations/20211211160459_fill_db.js
  server/src/data/seeds/fill_db.js
Due: npm run lint:editorconfig, npm run lint:server:js

master: + exit code enum
  server/src/common/enums/app/app.js
  server/src/common/enums/app/exit-code.enum.js
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:server:js

THREAD: - connection.js file, renamed base.model class to abstract
  server/src/data/db/connection.js
  server/src/data/models/abstract/abstract.model.js
  server/src/data/models/comment/comment.model.js
  server/src/data/models/image/image.model.js
  server/src/data/models/post-reaction/post-reaction.model.js
  server/src/data/models/post/post.model.js
  server/src/data/models/user/user.model.js
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:server:js

THREAD: * rename helper, seed-data files in kebab
  server/package-lock.json
  server/src/data/migrations/20211211160459_fill_db.js
  server/src/data/seed-data/comments-seed.js
  server/src/data/seed-data/posts-seed.js
  server/src/data/seed-data/users-seed.js
Due: npm run lint:editorconfig, npm run lint:server:js

master: * react imports
  client/.eslintrc.yml
  client/jsconfig.json
  client/src/common/prop-types/comment.js
  client/src/common/prop-types/post.js
  client/src/common/prop-types/user.js
  client/src/components/app.jsx
  client/src/components/common/button/button.jsx
  client/src/components/common/header/header.jsx
  client/src/components/common/icon/icon.jsx
  client/src/components/common/notifications/notifications.jsx
  client/src/components/common/post/post.jsx
  client/src/components/common/private-route/private-route.jsx
  client/src/components/common/public-route/public-route.jsx
  client/src/components/common/spinner/spinner.jsx
  client/src/components/not-found/not-found.jsx
  client/src/components/profile/profile.jsx
  client/src/components/shared-post/shared-post.jsx
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/registration-form/registration-form.jsx
  client/src/components/sign/sign.jsx
  client/src/components/thread/components/add-comment/add-comment.jsx
  client/src/components/thread/components/add-post/add-post.jsx
  client/src/components/thread/components/comment/comment.jsx
  client/src/components/thread/components/expanded-post/expanded-post.jsx
  client/src/components/thread/components/expanded-post/helpers/get-sorted-comments/get-sorted-comments.helper.js
  client/src/components/thread/components/shared-post-link/shared-post-link.jsx
  client/src/components/thread/thread.jsx
  client/src/exceptions/http-error/http-error.exception.js
  client/src/hooks/hooks.js
  client/src/index.jsx
  client/src/services/auth/auth.service.js
  client/src/services/comment/comment.service.js
  client/src/services/http/http.service.js
  client/src/services/image/image.service.js
  client/src/services/post/post.service.js
  client/src/store/profile/actions.js
  client/src/store/store.js
Due: npm run lint:editorconfig, npm run lint:client:js

THREAD: * knexSnakeCaseMapper instead of default one, correct propTypes
  client/src/common/prop-types/comment.js
  client/src/common/prop-types/image.js
  client/src/common/prop-types/post.js
  client/src/common/prop-types/user.js
  server/knexfile.js
  server/src/common/enums/database/db-table-name.enum.js
  server/src/data/migrations/20211208202419_create-tables.js
  server/src/data/models/abstract/abstract.model.js
  server/src/data/models/comment/comment.model.js
  server/src/data/models/post-reaction/post-reaction.model.js
  server/src/data/models/post/post.model.js
  server/src/data/models/user/user.model.js
  server/src/data/repositories/post-reaction/post-reaction.repository.js
  server/src/data/repositories/post/helpers.js
  server/src/data/repositories/post/post.repository.js
  server/src/data/repositories/user/user.repository.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:server:js

THREAD: * turn back seeding
  README.md
  client/src/common/prop-types/comment.js
  client/src/common/prop-types/post.js
  client/src/components/thread/components/add-comment/add-comment.jsx
  client/src/components/thread/components/shared-post-link/shared-post-link.jsx
  server/.eslintrc.yml
  server/knexfile.js
  server/package.json
  server/src/data/migrations/20211211160459_fill_db.js
  server/src/data/seeds/fill_db.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:server:js

master: * router hooks
  client/src/components/shared-post/shared-post.jsx
  client/src/hooks/hooks.js
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: + Image component
  client/package-lock.json
  client/package.json
  client/src/common/enums/components/components.js
  client/src/common/enums/components/image-size.enum.js
  client/src/components/common/common.js
  client/src/components/common/header/header.jsx
  client/src/components/common/image/image.jsx
  client/src/components/common/image/styles.module.scss
  client/src/components/common/post/post.jsx
  client/src/components/profile/profile.jsx
  client/src/components/sign/sign.jsx
  client/src/components/thread/components/add-post/add-post.jsx
  client/src/components/thread/components/add-post/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: + Modal component
  client/src/components/common/common.js
  client/src/components/common/modal/hooks/hooks.js
  client/src/components/common/modal/hooks/use-modal/use-modal.hook.js
  client/src/components/common/modal/modal.jsx
  client/src/components/common/modal/styles.module.scss
  client/src/components/common/portal/portal.jsx
  client/src/components/common/portal/styles.module.scss
  client/src/components/thread/components/expanded-post/expanded-post.jsx
  client/src/components/thread/components/shared-post-link/shared-post-link.jsx
  client/src/components/thread/components/shared-post-link/styles.module.scss
  client/src/hooks/hooks.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

THREAD: * replace checkbox and spinner with custom components
  client/src/components/common/common.js
  client/src/components/common/spinner/spinner.jsx
  client/src/components/common/spinner/styles.module.scss
  client/src/components/common/toggle-checkbox/styles.module.scss
  client/src/components/common/toggle-checkbox/toggle-checkbox.jsx
  client/src/components/thread/thread.jsx
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: + Icon component
  client/package-lock.json
  client/package.json
  client/src/common/enums/components/icon-size.enum.js
  client/src/components/common/icon/common.js
  client/src/components/common/icon/icon.jsx
  client/src/components/common/post/post.jsx
  client/src/components/common/post/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: + Button component
  client/src/common/enums/components/icon-name.enum.js
  client/src/components/common/button/button.jsx
  client/src/components/common/button/helpers/helpers.js
  client/src/components/common/button/helpers/isCorrectType.helper.js
  client/src/components/common/button/styles.module.scss
  client/src/components/common/header/styles.module.scss
  client/src/components/common/icon/common.js
  client/src/components/common/icon/icon.jsx
  client/src/styles/_colors.scss
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

THREAD: * replace message and comment components with custom
  client/src/components/common/common.js
  client/src/components/common/message/message.jsx
  client/src/components/common/message/styles.module.scss
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/registration-form/registration-form.jsx
  client/src/components/thread/components/comment/comment.jsx
  client/src/components/thread/components/comment/styles.module.scss
  client/src/components/thread/components/expanded-post/expanded-post.jsx
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

THREAD: * replace semantic-ui input with custom one
  client/package-lock.json
  client/src/components/common/common.js
  client/src/components/common/copy-buffer-input/copy-buffer-input.jsx
  client/src/components/common/copy-buffer-input/styles.module.scss
  client/src/components/common/input/input.jsx
  client/src/components/common/input/styles.module.scss
  client/src/components/profile/profile.jsx
  client/src/components/thread/components/shared-post-link/shared-post-link.jsx
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

THREAD: * fix notifications and infinite scroll
  client/src/components/common/notifications/common.js
  client/src/components/common/notifications/notifications.jsx
  client/src/components/thread/thread.jsx
  client/src/store/thread/actions.js
  server/src/data/repositories/post/post.repository.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:server:js

THREAD: * move notification specific enums to common/enums
  client/src/common/enums/enums.js
  client/src/common/enums/notifications/notification-message.enum.js
  client/src/common/enums/notifications/notifications.js
  client/src/common/enums/notifications/socket-event.enum.js
  client/src/components/common/notifications/notifications.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

THREAD: * removeAllListeners instead of close socket connection
  client/src/components/common/notifications/notifications.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

THREAD: * replace label semantic ui component
  client/src/components/common/common.js
  client/src/components/common/icon-button/icon-button.jsx
  client/src/components/common/icon-button/styles.module.scss
  client/src/components/common/post/post.jsx
  client/src/components/profile/profile.jsx
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

task/use-form-fuctionality-and-validation: + useForm and joi, - validator
  client/package-lock.json
  client/package.json
  client/src/common/enums/enums.js
  client/src/common/enums/user/user-payload-key.enum.js
  client/src/common/enums/user/user.js
  client/src/common/enums/validation/user-validation-message.enum.js
  client/src/common/enums/validation/user-validation-rule.enum.js
  client/src/common/enums/validation/validation.js
  client/src/components/common/common.js
  client/src/components/common/form-input/form-input.jsx
  client/src/components/common/form-input/styles.module.scss
  client/src/components/sign/components/login-form/common/constants.js
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/login-form/styles.module.scss
  client/src/components/sign/components/registration-form/common/constants.js
  client/src/components/sign/components/registration-form/registration-form.jsx
  client/src/components/sign/components/registration-form/styles.module.scss
  client/src/hooks/app-form/app-form.hook.js
  client/src/hooks/hooks.js
  client/src/validation-schemas/login/login.validation-schema.js
  client/src/validation-schemas/registration/registration.validation-schema.js
  client/src/validation-schemas/validation-schemas.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

task/use-form-fuctionality-and-validation: * update readme
  README.md
Due: npm run lint:editorconfig

remove-semantic-ui: - Grid component
  client/src/components/common/common.js
  client/src/components/common/header/header.jsx
  client/src/components/common/header/styles.module.scss
  client/src/components/profile/profile.jsx
  client/src/components/profile/styles.module.scss
  client/src/components/sign/sign.jsx
  client/src/components/sign/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: - Segment component
  client/src/components/common/common.js
  client/src/components/common/ui-segment/styles.module.scss
  client/src/components/common/ui-segment/ui-segment.jsx
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/registration-form/registration-form.jsx
  client/src/components/thread/components/add-post/add-post.jsx
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: + TextArea component (layout fix required)
  client/src/components/common/common.js
  client/src/components/common/text-area/styles.module.scss
  client/src/components/common/text-area/text-area.jsx
  client/src/components/common/ui-segment/styles.module.scss
  client/src/components/thread/components/add-comment/add-comment.jsx
  client/src/components/thread/components/add-post/add-post.jsx
  client/src/styles/_mixins.scss
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: * TextArea styles and UiSegment proptypes
  client/src/components/common/text-area/styles.module.scss
  client/src/components/common/ui-segment/ui-segment.jsx
  client/src/components/thread/components/add-comment/add-comment.jsx
  client/src/components/thread/components/add-post/add-post.jsx
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: * bool props naming
  client/src/components/common/header/header.jsx
  client/src/components/common/image/image.jsx
  client/src/components/common/modal/modal.jsx
  client/src/components/profile/profile.jsx
  client/src/components/sign/sign.jsx
  client/src/components/thread/components/shared-post-link/shared-post-link.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: * rename helper
  client/src/components/common/button/button.jsx
  client/src/components/common/button/helpers/check-is-valid-btn-type.helper.js
  client/src/components/common/button/helpers/helpers.js
  client/src/components/common/button/helpers/isCorrectType.helper.js
Due: npm run lint:editorconfig, npm run lint:client:js

master: * fix package verison
  client/package-lock.json
  client/package.json
Due: npm run lint:editorconfig

THREAD: - card semantic component
  client/src/components/common/common.js
  client/src/components/common/post/post.jsx
  client/src/components/common/post/styles.module.scss
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

fix/static-path: * static path, + not found error handler, - path from dependecies
  server/package-lock.json
  server/package.json
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:server:js

THREAD: * use custom input for form-input
  client/package-lock.json
  client/src/common/enums/components/icon-name.enum.js
  client/src/components/common/form-input/form-input.jsx
  client/src/components/common/form-input/styles.module.scss
  client/src/components/common/input/input.jsx
  client/src/components/common/input/styles.module.scss
  client/src/components/common/message/message.jsx
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/registration-form/registration-form.jsx
  package-lock.json
  server/package-lock.json
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

THREAD: * rename component and pass iconName instead of icon component
  client/src/components/common/checkbox/checkbox.jsx
  client/src/components/common/checkbox/styles.module.scss
  client/src/components/common/common.js
  client/src/components/common/form-input/form-input.jsx
  client/src/components/common/icon-button/icon-button.jsx
  client/src/components/common/icon-button/styles.module.scss
  client/src/components/common/input/input.jsx
  client/src/components/common/notifications/common.js
  client/src/components/common/post/post.jsx
  client/src/components/profile/profile.jsx
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/registration-form/registration-form.jsx
  client/src/components/thread/thread.jsx
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

THREAD: + IconName enum usage
  client/src/components/common/copy-buffer-input/copy-buffer-input.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

THREAD: * checked prop naming
  client/src/components/common/checkbox/checkbox.jsx
  client/src/components/common/icon-button/icon-button.jsx
  client/src/components/thread/thread.jsx
Due: npm run lint:editorconfig, npm run lint:client:js
