Repository BinaryStudioAcademy/thread-js: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
client/src/**/*.{js,jsx}: npm run lint:client:js
client/src/**/*.scss: npm run lint:client:css
server/**/*.js: npm run lint:server:js

task/move-api-prefix-to-env-file: * move api prefix to env file
  client/.env.example
  client/src/common/enums/app/env.enum.js
  client/src/services/auth/auth.service.js
  client/src/services/comment/comment.service.js
  client/src/services/http/http.service.js
  client/src/services/image/image.service.js
  client/src/services/post/post.service.js
  client/src/services/services.js
Due: npm run lint:editorconfig, npm run lint:client:js

task/move-api-prefix-to-env-file: + add api path to other services
  client/src/services/auth/auth.service.js
  client/src/services/comment/comment.service.js
  client/src/services/http/http.service.js
  client/src/services/image/image.service.js
  client/src/services/post/post.service.js
  client/src/services/services.js
Due: npm run lint:editorconfig, npm run lint:client:js

task/move-api-prefix-to-env-file: * query string
  client/src/services/http/http.service.js
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: - form component, align ui
  client/src/common/enums/components/icon-name.enum.js
  client/src/components/common/button/styles.module.scss
  client/src/components/common/copy-buffer-input/styles.module.scss
  client/src/components/common/icon-button/styles.module.scss
  client/src/components/common/icon/common.js
  client/src/components/common/input/input.jsx
  client/src/components/common/input/styles.module.scss
  client/src/components/common/modal/modal.jsx
  client/src/components/common/post/post.jsx
  client/src/components/common/text-area/styles.module.scss
  client/src/components/common/text-area/text-area.jsx
  client/src/components/common/ui-segment/styles.module.scss
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/registration-form/registration-form.jsx
  client/src/components/thread/components/add-comment/add-comment.jsx
  client/src/components/thread/components/add-comment/styles.module.scss
  client/src/components/thread/components/add-post/add-post.jsx
  client/src/styles/_colors.scss
  client/src/styles/_mixins.scss
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: * fix form related bugs
  client/src/components/thread/components/add-comment/add-comment.jsx
  client/src/components/thread/components/add-post/add-post.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: - semantic ui, fix styles
  client/package-lock.json
  client/package.json
  client/src/components/common/common.js
  client/src/components/common/text-area/styles.module.scss
  client/src/index.jsx
  client/src/styles/common.scss
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: - redundant styles
  client/src/components/common/button/styles.module.scss
  client/src/components/common/checkbox/styles.module.scss
  client/src/components/common/spinner/styles.module.scss
  client/src/styles/common.scss
Due: npm run lint:editorconfig, npm run lint:client:css

remove-semantic-ui: * rename UiSegment -> Segment
  client/src/components/common/common.js
  client/src/components/common/segment/segment.jsx
  client/src/components/common/segment/styles.module.scss
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/registration-form/registration-form.jsx
  client/src/components/thread/components/add-post/add-post.jsx
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

remove-semantic-ui: - btn type check
  client/src/components/common/button/button.jsx
  client/src/components/common/button/helpers/check-is-valid-btn-type.helper.js
  client/src/components/common/button/helpers/helpers.js
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: + form for comment section
  client/src/components/thread/components/add-comment/add-comment.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: * rename modal hook handlers
  client/src/components/common/modal/hooks/use-modal/use-modal.hook.js
  client/src/components/common/modal/modal.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: * use proper modal handlers
  client/src/components/common/modal/modal.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: * re-export for components
  client/src/components/common/common.js
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: * readme
  README.md
Due: npm run lint:editorconfig

remove-semantic-ui: + <p> margins reset
  client/src/styles/common.scss
Due: npm run lint:editorconfig, npm run lint:client:css

remove-semantic-ui: * fix modal double scrollbar
  client/src/components/common/portal/portal.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

remove-semantic-ui: * Image default props
  client/src/components/common/image/image.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

fix/scrollThreshold-infinite-scroll: * correct naming of scrollThreshold prop at infinite scroll
  client/src/components/thread/thread.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

master: * readme
  README.md
Due: npm run lint:editorconfig

task/only-useForm-for-all-forms: + add useForm for add-post and add-comment forms
  .eslintrc.yml
  client/src/common/enums/comment/comment-payload-key.enum.js
  client/src/common/enums/comment/comment.js
  client/src/common/enums/enums.js
  client/src/common/enums/post/post-payload-key.enum.js
  client/src/common/enums/post/post.js
  client/src/components/common/common.js
  client/src/components/common/form-textarea/form-textarea.jsx
  client/src/components/common/form-textarea/styles.module.scss
  client/src/components/common/text-area/text-area.jsx
  client/src/components/thread/components/add-comment/add-comment.jsx
  client/src/components/thread/components/add-comment/common/constants.js
  client/src/components/thread/components/add-post/add-post.jsx
  client/src/components/thread/components/add-post/common/constants.js
  client/src/hooks/app-form/app-form.hook.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

task/only-useForm-for-all-forms: * restore prev esling config
  .eslintrc.yml
Due: npm run lint:editorconfig

task/only-useForm-for-all-forms: - remove redundant className from add-post form
  client/src/components/thread/components/add-post/add-post.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

thread: * backend packages
  server/package-lock.json
  server/package.json
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:server:js

thread: * fix migrations and seeds
  server/package.json
  server/src/data/seed-data/users-seed.js
  server/src/data/seeds/fill_db.js
Due: npm run lint:editorconfig, npm run lint:server:js

thread: - babel
  server/.babelrc
  server/package-lock.json
  server/package.json
Due: npm run lint:editorconfig

thread: * move eslint import rule
  .eslintrc.yml
  server/.eslintrc.yml
Due: npm run lint:editorconfig

master: * root readme
  README.md
Due: npm run lint:editorconfig

task/only-useForm-for-all-forms: - FormInput and FormTextarea
  client/src/components/common/common.js
  client/src/components/common/form-input/form-input.jsx
  client/src/components/common/form-input/styles.module.scss
  client/src/components/common/form-textarea/form-textarea.jsx
  client/src/components/common/form-textarea/styles.module.scss
  client/src/components/common/input/input.jsx
  client/src/components/common/input/styles.module.scss
  client/src/components/common/text-area/styles.module.scss
  client/src/components/common/text-area/text-area.jsx
  client/src/components/profile/profile.jsx
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/registration-form/registration-form.jsx
  client/src/components/thread/components/add-comment/add-comment.jsx
  client/src/components/thread/components/add-post/add-post.jsx
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

task/only-useForm-for-all-forms: + useForm into Checkbox
  client/src/common/enums/enums.js
  client/src/common/enums/thread/thread-toolbar-key.enum.js
  client/src/common/enums/thread/thread.js
  client/src/components/common/checkbox/checkbox.jsx
  client/src/components/thread/common/constants.js
  client/src/components/thread/thread.jsx
  client/src/hooks/app-form/app-form.hook.js
Due: npm run lint:editorconfig, npm run lint:client:js

task/update packages frontend: * frontend packages
  client/package-lock.json
  client/package.json
Due: npm run lint:editorconfig

task/enable-file-extension-linter: + import/extension rule
  .eslintrc.yml
Due: npm run lint:editorconfig

task/only-useForm-for-all-forms: + enum for useForm mode
  client/src/common/enums/enums.js
  client/src/common/enums/form/form.js
  client/src/common/enums/form/use-form-mode.enum.js
  client/src/components/thread/thread.jsx
  client/src/hooks/app-form/app-form.hook.js
Due: npm run lint:editorconfig, npm run lint:client:js

task/enable-file-extension-linter: - redundant rule import/extensions from server eslint config
  server/.eslintrc.yml
Due: npm run lint:editorconfig

task/enable-file-extension-linter: * setting up eslint rule for js extension on server
  server/.eslintrc.yml
Due: npm run lint:editorconfig

task/remove-default-export: * replace default export with named one on client
  client/src/components/app.jsx
  client/src/components/common/button/button.jsx
  client/src/components/common/checkbox/checkbox.jsx
  client/src/components/common/common.js
  client/src/components/common/copy-buffer-input/copy-buffer-input.jsx
  client/src/components/common/header/header.jsx
  client/src/components/common/icon-button/icon-button.jsx
  client/src/components/common/icon/icon.jsx
  client/src/components/common/image/image.jsx
  client/src/components/common/input/input.jsx
  client/src/components/common/message/message.jsx
  client/src/components/common/modal/modal.jsx
  client/src/components/common/notifications/notifications.jsx
  client/src/components/common/portal/portal.jsx
  client/src/components/common/post/post.jsx
  client/src/components/common/private-route/private-route.jsx
  client/src/components/common/public-route/public-route.jsx
  client/src/components/common/segment/segment.jsx
  client/src/components/common/spinner/spinner.jsx
  client/src/components/not-found/not-found.jsx
  client/src/components/profile/profile.jsx
  client/src/components/shared-post/shared-post.jsx
  client/src/components/sign/components/components.js
  client/src/components/sign/components/login-form/login-form.jsx
  client/src/components/sign/components/registration-form/registration-form.jsx
  client/src/components/sign/sign.jsx
  client/src/components/thread/components/add-comment/add-comment.jsx
  client/src/components/thread/components/add-post/add-post.jsx
  client/src/components/thread/components/comment/comment.jsx
  client/src/components/thread/components/components.js
  client/src/components/thread/components/expanded-post/expanded-post.jsx
  client/src/components/thread/components/shared-post-link/shared-post-link.jsx
  client/src/components/thread/thread.jsx
  client/src/index.jsx
  client/src/store/store.js
Due: npm run lint:editorconfig, npm run lint:client:js

task/remove-default-export: * replace default export with named one on server
  server/knexfile.js
  server/src/data/models/abstract/abstract.model.js
  server/src/data/models/comment/comment.model.js
  server/src/data/models/image/image.model.js
  server/src/data/models/index.js
  server/src/data/models/post-reaction/post-reaction.model.js
  server/src/data/models/post/post.model.js
  server/src/data/models/user/user.model.js
  server/src/data/repositories/repositories.js
  server/src/data/seed-data/comments-seed.js
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/remove-default-export: * specification of export naming on client
  client/src/components/app.jsx
  client/src/components/common/common.js
  client/src/components/sign/components/components.js
  client/src/components/sign/sign.jsx
  client/src/components/thread/components/components.js
  client/src/index.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

task/remove-default-export: * specification of export naming on server
  .eslintrc.yml
  server/.eslintrc.yml
  server/knexfile.js
  server/src/data/models/abstract/abstract.model.js
  server/src/data/models/comment/comment.model.js
  server/src/data/models/image/image.model.js
  server/src/data/models/index.js
  server/src/data/models/models.js
  server/src/data/models/post-reaction/post-reaction.model.js
  server/src/data/models/post/post.model.js
  server/src/data/models/user/user.model.js
  server/src/data/repositories/repositories.js
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:server:js
