Repository BinaryStudioAcademy/thread-js: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig
client/src/**/*.{js,jsx}: npm run lint:client:js
client/src/**/*.scss: npm run lint:client:css
server/**/*.js: npm run lint:server:js

TJS-11: * rename react callbacks
  client/src/components/common/post/post.jsx
  client/src/components/thread/components/add-post/add-post.jsx
  client/src/components/thread/components/expanded-post/expanded-post.jsx
  client/src/components/thread/components/shared-post-link/shared-post-link.jsx
  client/src/components/thread/thread.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

master: * helper name
  client/src/components/thread/components/shared-post-link/shared-post-link.jsx
Due: npm run lint:editorconfig, npm run lint:client:js

task/remove-default-export: * model naming entities
  server/src/data/models/abstract/abstract.model.js
  server/src/data/models/comment/comment.model.js
  server/src/data/models/image/image.model.js
  server/src/data/models/models.js
  server/src/data/models/post-reaction/post-reaction.model.js
  server/src/data/models/post/post.model.js
  server/src/data/models/user/user.model.js
  server/src/data/repositories/repositories.js
Due: npm run lint:editorconfig, npm run lint:server:js

TJS-15: + stylelint-config-standard
  .prettierrc.yml
  .stylelintrc.yml
  client/.stylelintrc.yml
  client/src/components/common/button/styles.module.scss
  client/src/components/common/checkbox/styles.module.scss
  client/src/components/common/copy-buffer-input/styles.module.scss
  client/src/components/common/header/styles.module.scss
  client/src/components/common/input/styles.module.scss
  client/src/components/common/modal/styles.module.scss
  client/src/components/common/post/styles.module.scss
  client/src/components/common/segment/styles.module.scss
  client/src/components/common/spinner/styles.module.scss
  client/src/components/thread/components/comment/styles.module.scss
  client/src/styles/_colors.scss
  client/src/styles/_mixins.scss
  client/src/styles/common.scss
  package-lock.json
  package.json
Due: npm run lint:editorconfig, npm run lint:client:css

task/replace-fastify-method-with-route-construction: * route api set up
  server/src/api/auth/auth.api.js
  server/src/api/comment/comment.api.js
  server/src/api/image/image.api.js
  server/src/api/post/post.api.js
  server/src/common/enums/api/controller-hook.enum.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/english-description-in-the-readme: * translate Readme in english
  README.md
Due: npm run lint:editorconfig

TJS-15: + stylelint-config-standard-scss
  client/.stylelintrc.yml
  client/package-lock.json
  client/package.json
Due: npm run lint:editorconfig

TJS-22: * update root packages
  package-lock.json
  package.json
Due: npm run lint:editorconfig

master: + ci linters
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .lintstagedrc.yml
  .ls-lint.yml
  package-lock.json
  package.json
  readme.md
  server/src/data/migrations/20211208202419_create_tables.js
  server/src/data/migrations/20211208204457_add_associations.js
Due: npm run lint:editorconfig, npm run lint:server:js

production: * package.jsons
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Due: npm run lint:editorconfig

TJS-22: * update react-scripts
  client/package-lock.json
  client/package.json
Due: npm run lint:editorconfig

production: + evmrc
  .nvmrc
Due: npm run lint:editorconfig

TJS-23: + css custom properties
  client/src/components/common/button/styles.module.scss
  client/src/components/common/input/styles.module.scss
  client/src/components/common/segment/styles.module.scss
  client/src/styles/_colors.scss
  client/src/styles/_mixins.scss
Due: npm run lint:editorconfig, npm run lint:client:css

TJS-23: - colors imports
  client/src/components/common/button/styles.module.scss
  client/src/components/common/input/styles.module.scss
  client/src/components/common/segment/styles.module.scss
  client/src/index.jsx
  client/src/styles/mixins.scss
  client/src/styles/styles.scss
  client/src/styles/variables.scss
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:client:css

Removed not-named imports/exports
  client/src/common/constants/constants.js
  client/src/common/enums/app/app.js
  client/src/common/enums/components/components.js
  client/src/common/enums/enums.js
  client/src/common/enums/exception/exception.js
  client/src/common/enums/file/file.js
  client/src/common/enums/http/http.js
  client/src/common/enums/notifications/notifications.js
  client/src/common/enums/user/user.js
  client/src/common/enums/validation/validation.js
  client/src/common/prop-types/prop-types.js
  client/src/components/common/modal/hooks/hooks.js
  client/src/components/thread/components/expanded-post/helpers/helpers.js
  client/src/exceptions/exceptions.js
  client/src/helpers/date/date.js
  client/src/helpers/date/dayjs/dayjs.js
  client/src/helpers/helpers.js
  client/src/helpers/http/http.js
  client/src/store/actions.js
  client/src/store/profile/reducer.js
  client/src/store/store.js
  client/src/store/thread/reducer.js
  client/src/validation-schemas/login/login.validation-schema.js
  client/src/validation-schemas/registration/registration.validation-schema.js
  client/src/validation-schemas/validation-schemas.js
  server/src/common/constants/constants.js
  server/src/common/enums/api/api.js
  server/src/common/enums/app/app.js
  server/src/common/enums/database/database.js
  server/src/common/enums/enums.js
  server/src/common/enums/exception/exception.js
  server/src/common/enums/http/http.js
  server/src/exceptions/exceptions.js
  server/src/helpers/crypt/crypt.js
  server/src/helpers/helpers.js
  server/src/helpers/token/token.js
  server/src/middlewares/middlewares.js
  server/src/plugins/plugins.js
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:server:js

Fixed unnamed imports
  client/src/common/enums/comment/comment.js
  client/src/common/enums/enums.js
  client/src/common/enums/form/form.js
  client/src/common/enums/post/post.js
  client/src/common/enums/thread/thread.js
  client/src/common/prop-types/comment.js
Due: npm run lint:editorconfig, npm run lint:client:js

Fixed export of actions
  client/src/store/actions.js
Due: npm run lint:editorconfig, npm run lint:client:js

task/add-shared-package: * lint config
  .eslintrc.yml
  .lintstagedrc.yml
  .ls-lint.yml
Due: npm run lint:editorconfig

task/add-shared-package: * eslint config, + shared package to readme
  client/package-lock.json
  readme.md
  shared/.eslintrc.yml
  shared/package-lock.json
  shared/package.json
Due: npm run lint:editorconfig

task/add-shared-package: * readme description
  readme.md
Due: npm run lint:editorconfig

task/add-shared-package: - unnecessary eslint rules
  shared/.eslintrc.yml
Due: npm run lint:editorconfig

task/add-shared-package: * move dayjs to shared
  client/package-lock.json
  client/package.json
  client/src/common/enums/comment/comment.js
  client/src/common/enums/exception/exception.js
  client/src/common/enums/http/http.js
  client/src/common/enums/post/post.js
  client/src/common/enums/user/user.js
  client/src/helpers/helpers.js
  server/package-lock.json
  shared/package-lock.json
  shared/package.json
  shared/src/helpers/date/date.js
  shared/src/helpers/date/dayjs/dayjs.js
  shared/src/helpers/date/get-diff/get-diff.helper.js
  shared/src/helpers/date/get-from-now-time/get-from-now-time.helper.js
  shared/src/helpers/helpers.js
Due: npm run lint:editorconfig, npm run lint:client:js

production: * root readme
  readme.md
Due: npm run lint:editorconfig

task/update-eol-setup-in-readme: * readme
  readme.md
  server/.env.example
Due: npm run lint:editorconfig

task/update-eol-setup-in-readme: * readme
  readme.md
Due: npm run lint:editorconfig

task/new-realtime-approach: * extend main server with socket on one port
  server/.env.example
  server/src/common/enums/app/env.enum.js
  server/src/common/enums/enums.js
  server/src/common/enums/notifications/notifications.js
  server/src/common/enums/socket/socket.js
  server/src/server.js
  server/src/services/services.js
  server/src/services/socket/socket.service.js
  server/src/socket/handlers.js
  shared/src/common/enums/enums.js
  shared/src/common/enums/notifications/notification-socket-event.enum.js
  shared/src/common/enums/notifications/notifications.js
  shared/src/common/enums/notifications/socket-event.enum.js
  shared/src/common/enums/socket/socket-event.enum.js
  shared/src/common/enums/socket/socket-namespace.enum.js
  shared/src/common/enums/socket/socket.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/new-realtime-approach: + socket store middleware for notifications
  client/src/common/enums/enums.js
  client/src/common/enums/notifications/notification-type.enum.js
  client/src/common/enums/notifications/notifications.js
  client/src/common/enums/socket/socket.js
  client/src/components/app.jsx
  client/src/components/common/notifications/notifications.jsx
  client/src/services/notification/notification.service.js
  client/src/services/services.js
  client/src/services/socket/socket.service.js
  client/src/store/actions.js
  client/src/store/app/actions.js
  client/src/store/app/common.js
  client/src/store/middlewares/middlewares.js
  client/src/store/middlewares/notification-socket/notification-socket.middleware.js
  client/src/store/notifications/actions.js
  client/src/store/notifications/common.js
  client/src/store/store.js
  client/src/store/thread/actions.js
  client/src/store/thread/reducer.js
Due: npm run lint:editorconfig, npm run lint:client:js

task/new-realtime-approach: * use socket for notifications from api
  server/src/api/post/post.api.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/new-realtime-approach: * fix cors for socket
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/new-realtime-approach: * fix eslint support of private class methods
  .eslintrc.yml
Due: npm run lint:editorconfig

task/functional-api-to-controller: * controller structure instead api functions
  .eslintrc.yml
  server/src/controllers/abstract/abstract.controller.js
  server/src/controllers/abstract/helpers/helpers.js
  server/src/controllers/abstract/helpers/normalize-trailing-slash/normalize-trailing-slash.helper.js
  server/src/controllers/auth/auth.controller.js
  server/src/controllers/comment/comment.controller.js
  server/src/controllers/controllers.js
  server/src/controllers/image/image.controller.js
  server/src/controllers/post/post.controller.js
  server/src/helpers/helpers.js
  server/src/helpers/path/join-path/join-path.helper.js
  server/src/helpers/path/path.js
  server/src/plugins/authorization/authorization.plugin.js
  server/src/server.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/api-testing-with-step-selection: * fix required custom message at validation schemas
  shared/src/validation-schemas/login/login.validation-schema.js
  shared/src/validation-schemas/registration/registration.validation-schema.js
Due: npm run lint:editorconfig

task/api-testing-with-step-selection: + testing configuration with starter api testing
  client/src/common/enums/enums.js
  client/src/common/enums/image/image.js
  client/src/services/image/image.service.js
  server/jest.config.js
  server/package-lock.json
  server/package.json
  server/src/api/auth/auth.api.js
  server/src/api/comment/comment.api.js
  server/src/api/image/image.api.js
  server/src/api/post/post.api.js
  server/src/app.js
  server/src/common/enums/comment/comment.js
  server/src/common/enums/enums.js
  server/src/common/enums/image/image.js
  server/src/common/enums/post/post.js
  server/src/common/enums/user/user.js
  server/src/common/enums/validation/validation.js
  server/src/server.js
  server/tests/api/starter/auth.api.spec.js
  server/tests/api/starter/comment.api.spec.js
  server/tests/api/starter/image.api.spec.js
  server/tests/api/starter/post.api.spec.js
  server/tests/data/images/test-image.png
  server/tests/helpers/app/app.helper.js
  server/tests/helpers/helpers.js
  shared/src/common/enums/enums.js
  shared/src/common/enums/http/http-code.enum.js
  shared/src/common/enums/image/image-payload-key.enum.js
  shared/src/common/enums/image/image.js
Due: npm run lint:editorconfig, npm run lint:client:js, npm run lint:server:js

task/api-testing-with-step-selection: + dislike post api testing
  server/package.json
  server/tests/api/1-dislike-post/post.api.spec.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/api-testing-with-step-selection: + update post api testing
  server/package.json
  server/tests/api/2-update-post/post.api.spec.js
  shared/src/common/enums/http/http-code.enum.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/api-testing-with-step-selection: + delete post api testing
  server/package.json
  server/tests/api/3-delete-post/post.api.spec.js
  shared/src/common/enums/http/http-method.enum.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/api-testing-with-step-selection: + update comment api testing
  server/package.json
  server/tests/api/4-update-comment/comment.api.spec.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/api-testing-with-step-selection: + delete comment api testing
  server/package.json
  server/tests/api/5-delete-comment/comment.api.spec.js
  shared/src/common/enums/http/http-code.enum.js
Due: npm run lint:editorconfig, npm run lint:server:js

task/api-testing-with-step-selection: + like and dislike comment api testing
  server/package.json
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
Due: npm run lint:editorconfig, npm run lint:server:js
